# Lab04 - pandas II

Name: Jimmy (Qixiao) Zhu
Class: CSCI 349 - Intro to Data Mining
Semester: 2023SP
Instructor: Brian King

In [2583]:
import sys
import numpy as np
import pandas as pd

In [2584]:
days = ["Mon","Tues","Wed","Thu","Fri","Student"]
scores = pd.DataFrame([pd.Series([8.75, 9.5, 8, 10, 7.75, "Bob"],
                                 index=days, name="week_1"),
pd.Series([8, 9, 10, 8.75, 7.25, "Jane"], index=days, name="week_1"),
pd.Series([0, 8, 9.75, 9, 6, "Bob"], index=days, name="week_2"),
pd.Series([8.25, 7, 0, 9.25, 8, "Jane"], index=days, name="week_2"),
pd.Series([8.5, 7, 9.25, 0, 0, "Bob"], index=days, name="week_3"),
pd.Series([8.25, 8.25, 0, 8, 7.5, "Jane"], index=days, name="week_3"),
pd.Series([6.5, 8.75, 8.5, 8, 6, "Bob"], index=days, name="week_4"),
pd.Series([10, 9.25, 8.5, 7.75, 7.5, "Jane"], index=days,name="week_4"),])
scores

          Mon  Tues    Wed    Thu   Fri Student
week_1   8.75  9.50   8.00  10.00  7.75     Bob
week_1   8.00  9.00  10.00   8.75  7.25    Jane
week_2   0.00  8.00   9.75   9.00  6.00     Bob
week_2   8.25  7.00   0.00   9.25  8.00    Jane
week_3   8.50  7.00   9.25   0.00  0.00     Bob
week_3   8.25  8.25   0.00   8.00  7.50    Jane
week_4   6.50  8.75   8.50   8.00  6.00     Bob
week_4  10.00  9.25   8.50   7.75  7.50    Jane

**1)** [P] Report the shape, the number of dimensions, the size of the data, and the data types of each column.
Print each separately. Then create an additional code cell that shows the results of scores.info().
Comment on what the info() method does on data frames.

In [2585]:
print("shape: " + str(scores.shape))
print("dimensions: " + str(scores.ndim))
print("size of DataFrame: " + str(scores.size))
print("size of data in bytes: " + str(sys.getsizeof(scores)))
print("types by column: ")
scores.dtypes

shape: (8, 6)
dimensions: 2
size of DataFrame: 48
size of data in bytes: 1324
types by column:

Mon        float64
Tues       float64
Wed        float64
Thu        float64
Fri        float64
Student     object
dtype: object

In [2586]:
scores.info()
# The info() method returns the information of the DatFrame.
# It contains the type of the object, thenumber of index and
# the names of the idex. It also provides the number of columns,
# gives us the non-null count of each column, and gives us the
# data type of each column. At last, it summarizes the number
# of columns of each data type that is in this DataFrame.

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, week_1 to week_4
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Mon      8 non-null      float64
 1   Tues     8 non-null      float64
 2   Wed      8 non-null      float64
 3   Thu      8 non-null      float64
 4   Fri      8 non-null      float64
 5   Student  8 non-null      object
dtypes: float64(5), object(1)
memory usage: 448.0+ bytes

**2)** [P] Show two different ways to report the number of observations in scores.

In [2587]:
print(scores.loc[:, "Mon":"Fri"].size)
print(scores.iloc[:, 0:5].size)

40
40

**3)** [P] Show the variables (i.e. columns) in scores

In [2588]:
scores.columns.tolist()

['Mon', 'Tues', 'Wed', 'Thu', 'Fri', 'Student']

**4)** [P] There are repetitive names in the index. This happens quite a bit, depending on how the data is organized.
For now. print the unique index names in scores

In [2589]:
scores.index.unique().tolist()

['week_1', 'week_2', 'week_3', 'week_4']

**5)** [P] Rename the 'Tues' column header to be 'Tue' . (Hint: Changing scores.columns[1] directly will not work, not to mention it would be a poor approach to hard code a location this way! Magic numbers are never a good idea when referencing index or column locations. They may change!) Show the new scores data frame. This should be the same, except with Tues changed to Tue.

In [2590]:
scores = scores.rename(columns={'Tues': 'Tue'})
scores

          Mon   Tue    Wed    Thu   Fri Student
week_1   8.75  9.50   8.00  10.00  7.75     Bob
week_1   8.00  9.00  10.00   8.75  7.25    Jane
week_2   0.00  8.00   9.75   9.00  6.00     Bob
week_2   8.25  7.00   0.00   9.25  8.00    Jane
week_3   8.50  7.00   9.25   0.00  0.00     Bob
week_3   8.25  8.25   0.00   8.00  7.50    Jane
week_4   6.50  8.75   8.50   8.00  6.00     Bob
week_4  10.00  9.25   8.50   7.75  7.50    Jane

**6)** [P] Now, make a bigger change. Let's rename 'week_1' to be 'w1', 'week_2' to be 'w2', and so on.
Also, suppose you decide to use only 2 letter abbreviations for the days. Rename the days in the column names to be 'Mo', 'Tu', 'We', 'Th', 'Fr'. Show the updated scores dataframe.

In [2591]:
scores = scores.rename(index=lambda x: 'wk' + str(x[-1]),
                       columns=lambda x: x[0:2] if x != 'Student' else x)
scores

        Mo    Tu     We     Th    Fr Student
wk1   8.75  9.50   8.00  10.00  7.75     Bob
wk1   8.00  9.00  10.00   8.75  7.25    Jane
wk2   0.00  8.00   9.75   9.00  6.00     Bob
wk2   8.25  7.00   0.00   9.25  8.00    Jane
wk3   8.50  7.00   9.25   0.00  0.00     Bob
wk3   8.25  8.25   0.00   8.00  7.50    Jane
wk4   6.50  8.75   8.50   8.00  6.00     Bob
wk4  10.00  9.25   8.50   7.75  7.50    Jane

**7)** [PM] Compare the type of the expression scores['Mo'] vs. scores\[['Mo']\]. What is the difference?
(HINT: use the type() Python function on both.)

In [2592]:
print(type(scores['Mo']))
print(type(scores[['Mo']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

The first one-dimensional object is a Series and the second two-dimensional object is a DataFrame.

**8)** [P] Demonstrate the describe() method on scores. What type does it return?

In [2593]:
print(type(scores.describe()))
scores.describe()

<class 'pandas.core.frame.DataFrame'>

              Mo        Tu         We         Th        Fr
count   8.000000  8.000000   8.000000   8.000000  8.000000
mean    7.281250  8.343750   6.750000   7.593750  6.250000
std     3.095035  0.963045   4.219428   3.159276  2.635608
min     0.000000  7.000000   0.000000   0.000000  0.000000
25%     7.625000  7.750000   6.000000   7.937500  6.000000
50%     8.250000  8.500000   8.500000   8.375000  7.375000
75%     8.562500  9.062500   9.375000   9.062500  7.562500
max    10.000000  9.500000  10.000000  10.000000  8.000000

**9)** [P] Store the output of describe() as a variable. Then, using this data frame, report the day that had the largest standard deviation in quiz scores and its value. Clean your temporary variables when complete (i.e. use del)

In [2594]:
des = scores.describe()
print("max std day: " + des.loc['std'].idxmax())
print("max std: " + str(des.loc['std'].max()))
del des

max std day: We
max std: 4.219427855595049

**10)** [P] Knowing that describe() is nothing more than another data frame is interesting. However, it's more important to write code to output the specific results you are looking for. Write the Python code to repeat the previous exercise without using describe().

In [2595]:
print("max std day: " + scores.loc[:, 'Mo':'Fr'].std().idxmax())
print("max std: " + str(scores.loc[:, 'Mo':'Fr'].std().max()))

max std day: We
max std: 4.219427855595049

**11)** [P] Write the code that changes all 0.0 entries to np.nan. (NOTE: You should be able to do this with just one line of code using pandas selection techniques!) Then, show scores. All 0.0 entries should be replaced with NaN in the output.

In [2596]:
scores.replace(0, np.nan, inplace=True)
scores

        Mo    Tu     We     Th    Fr Student
wk1   8.75  9.50   8.00  10.00  7.75     Bob
wk1   8.00  9.00  10.00   8.75  7.25    Jane
wk2    NaN  8.00   9.75   9.00  6.00     Bob
wk2   8.25  7.00    NaN   9.25  8.00    Jane
wk3   8.50  7.00   9.25    NaN   NaN     Bob
wk3   8.25  8.25    NaN   8.00  7.50    Jane
wk4   6.50  8.75   8.50   8.00  6.00     Bob
wk4  10.00  9.25   8.50   7.75  7.50    Jane

**12)** [P] Show the output of describe() again. You should notice much more reasonable SD values. Note how much more informative this output is when properly dealing with missing data. Then, copy your code from above to output the day with the largest standard deviation in quiz scores. You should have a substantially different result than you did before.

In [2597]:
des = scores.describe()
des

              Mo        Tu         We         Th        Fr
count   7.000000  8.000000   6.000000   7.000000  7.000000
mean    8.321429  8.343750   9.000000   8.678571  7.142857
std     1.037970  0.963045   0.790569   0.812843  0.814672
min     6.500000  7.000000   8.000000   7.750000  6.000000
25%     8.125000  7.750000   8.500000   8.000000  6.625000
50%     8.250000  8.500000   8.875000   8.750000  7.500000
75%     8.625000  9.062500   9.625000   9.125000  7.625000
max    10.000000  9.500000  10.000000  10.000000  8.000000

In [2598]:
print("max std day: " + des.loc['std'].idxmax())
print("max std: " + str(des.loc['std'].max()))
del des

max std day: Mo
max std: 1.0379696297970151

**13)** [PM] Show the output of scores.values. What does the .values attribute do?

In [2599]:
scores.values

array([[8.75, 9.5, 8.0, 10.0, 7.75, 'Bob'],
       [8.0, 9.0, 10.0, 8.75, 7.25, 'Jane'],
       [nan, 8.0, 9.75, 9.0, 6.0, 'Bob'],
       [8.25, 7.0, nan, 9.25, 8.0, 'Jane'],
       [8.5, 7.0, 9.25, nan, nan, 'Bob'],
       [8.25, 8.25, nan, 8.0, 7.5, 'Jane'],
       [6.5, 8.75, 8.5, 8.0, 6.0, 'Bob'],
       [10.0, 9.25, 8.5, 7.75, 7.5, 'Jane']], dtype=object)

The .values attribute returns a Numpy copy of the original DataFrame.

**14)** [P] What is the mean quiz score for each day? Do not use describe()

In [2600]:
scores.loc[:, 'Mo':'Fr'].mean()

Mo    8.321429
Tu    8.343750
We    9.000000
Th    8.678571
Fr    7.142857
dtype: float64

**15)** [P] What is the mean quiz score over the entire dataset, ignoring all missing values?

In [2601]:
scores.loc[:, 'Mo':'Fr'].stack().mean()

8.278571428571428

**16)** [P] Show the mean for each week over all students. Again, you are not counting missing quizzes into the average. (Yes, technically you could write a loop to compute this exhaustively. However, you should rarely need to do that. Use pandas!)

In [2602]:
# I could not find a better way after trying for hours.
# Is there another simpler way? I tried stack()
# and did not work. I also tried groupby and then mean,
# but it should not be the correct way. I found this was
# the only way to get the mean of a segment of data frame.
scores.groupby(scores.index).sum(numeric_only=True).sum(axis=1) / \
scores.count(axis=1, numeric_only=True).groupby(scores.index).sum()

wk1    8.700000
wk2    8.156250
wk3    8.107143
wk4    8.075000
dtype: float64

**17)** [P] Show the mean score for each student. Again, ignore all missing values.

In [2603]:
scores.groupby('Student').sum().sum(axis=1) / \
scores.groupby('Student').count().sum(axis=1)

Student
Bob     8.191176
Jane    8.361111
dtype: float64

**18)** [P] Select the data that includes only data for Monday and the Student variables using .loc, and again using .iloc

In [2604]:
scores.loc[:, ['Mo', 'Student']]

        Mo Student
wk1   8.75     Bob
wk1   8.00    Jane
wk2    NaN     Bob
wk2   8.25    Jane
wk3   8.50     Bob
wk3   8.25    Jane
wk4   6.50     Bob
wk4  10.00    Jane

In [2605]:
scores.iloc[:, [0, 5]]

        Mo Student
wk1   8.75     Bob
wk1   8.00    Jane
wk2    NaN     Bob
wk2   8.25    Jane
wk3   8.50     Bob
wk3   8.25    Jane
wk4   6.50     Bob
wk4  10.00    Jane

**19)** [P] Show a new DataFrame containing the week as an index (like the original), but contains only each student with the count of their quizzes and the mean of their scores. (HINT: Sometimes, it's just easier to create a new data frame.)

In [2606]:
new_dataframe = scores.loc[:, 'Student']
count = scores.count(axis=1, numeric_only=True)
count = count.rename('count')
mean = scores.mean(axis=1, numeric_only=True)
mean = mean.rename('mean')
new_dataframe =  pd.concat([new_dataframe, count], axis=1)
new_dataframe =  pd.concat([new_dataframe, mean], axis=1)
new_dataframe

    Student  count    mean
wk1     Bob      5  8.8000
wk1    Jane      5  8.6000
wk2     Bob      4  8.1875
wk2    Jane      4  8.1250
wk3     Bob      3  8.2500
wk3    Jane      4  8.0000
wk4     Bob      5  7.5500
wk4    Jane      5  8.6000

**20)** [P] This time, show the total number of quizzes taken each week by all students

In [2607]:
scores.count(axis=1, numeric_only=True).groupby(scores.index).sum()

wk1    10
wk2     8
wk3     7
wk4    10
dtype: int64

**21)** [P] Show the number of times Friday's score was <= 7.5 for each student. Start by selecting a subset of observations, then use value_counts() on the Student variable of the selected data.

In [2608]:
scores[scores["Fr"] <= 7.5]['Student'].value_counts()

Jane    3
Bob     2
Name: Student, dtype: int64

**22)** [P] Repeat the previous exercise, but this time use the where() method on scores to select your data. You should have the same output.

In [2609]:
scores.where(scores["Fr"] <= 7.5)['Student'].value_counts()

Jane    3
Bob     2
Name: Student, dtype: int64

**23)** [P] Select the scores that were greater than the mean score over the entire dataset (without the missing values). Again, no hard coding values here (i.e. do NOT hard code the mean, but recompute it. Then, report the number of scores for each day that exceeded that global mean.

In [2610]:
mean = scores.loc[:, 'Mo':'Fr'].stack().mean()
(scores.loc[:, 'Mo':'Fr'] > mean).sum(axis=0)

Mo    3
Tu    4
We    5
Th    4
Fr    0
dtype: int64

**24)** [P] Sometimes when we deal with enormous datasets for modeling, we drop all observations (rows!) that have any missing data. Show a new data frame that has only complete observations.

In [2611]:
new_frame = scores.dropna()
new_frame

        Mo    Tu    We     Th    Fr Student
wk1   8.75  9.50   8.0  10.00  7.75     Bob
wk1   8.00  9.00  10.0   8.75  7.25    Jane
wk4   6.50  8.75   8.5   8.00  6.00     Bob
wk4  10.00  9.25   8.5   7.75  7.50    Jane