# Lab03 - pandas I

Name: Jimmy (Qixiao) Zhu
Class: CSCI 349 - Intro to Data Mining
Semester: 2023SP
Instructor: Brian King

In [1]:
import platform
import random
import sys
import numpy as np
import pandas as pd

**1)** [P] Report the Python, Numpy and Pandas version numbers.

In [2]:
print("Python version: " + platform.python_version())
print("Numpy version:" + np.__version__)
print("Panda version:" + pd.__version__)

Python version: 3.9.16
Numpy version:1.23.5
Panda version:1.5.2

**2)** [P] Now, show the result of pd.show_versions(). Write a comment in the cell about what this shows.

In [30]:
pd.show_versions()
# This shows the version numbers of all the libraries that use Panda.

INSTALLED VERSIONS
------------------
commit           : 8dab54d6573f7186ff0c3b6364d5e4dd635ff3e7
python           : 3.9.16.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19045
machine          : AMD64
processor        : AMD64 Family 25 Model 80 Stepping 0, AuthenticAMD
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.utf8

pandas           : 1.5.2
numpy            : 1.23.5
pytz             : 2022.7
dateutil         : 2.8.2
setuptools       : 65.6.3
pip              : 22.3.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.1
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.7.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : 1.3.5
brotli           :
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.6.2
numba            : None
numexpr          : 2.8.4
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.9.3
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

**3)** [M] Explain the relationship between numpy and pandas. How are they tied together? How are they different? What core functionality does pandas add to numpy?

Numpy and Pandas are usually used in tandem. Pandas adopts a lot of coding idioms from Numpy. Numpy is used to work with data with the same type, while Pandas supports heterogeneous typed data.

From: https://www.oreilly.com/library/view/python-for-data/9781098104023/ch05.html

**4)** [M] Compare and contrast Series and DataFrame.

Series is a one-dimensional labeled array that can hold different types of data.
DataFrame is a two-dimensional labeled data array. It can also hold different types of data.

**5)** [M] What are the data types that can be used to create a Series object in pandas?

From ChatGPT since the Pandas website for Series only has three types:
It can be numeric data types, strings, dates and times, categorical data, boolean values, etc.

**6)** [M] What are the data structures that can be used to create a DataFrame object in pandas?

From ChatGPT:
Any data structures that can be converted to a Numpy array-like structure. This includes Pandas DataFrame.

**7)** [M] When creating a Series object, what role does the index parameter play? Does the index always need to be specified? If not, what happens?

Index provides a way for the user to specify what type of index the Series object has. For example, the index can be ['a', 'b', 'c'], in which when we need a specific element, we can just use the Series like a Python dict. It does not always need to be specified. If index not specified, Series will just put numbers from 0 to Series length for the index.

**8)** [P] Create a numpy array of 10 random 8-bit integers in the range [10,20) using numpy's randint function. Print the type of x, and show x.

In [4]:
# ChatGPT:
x = np.random.randint(10, 20, size=10, dtype=np.uint8)
print(type(x))
x

<class 'numpy.ndarray'>

array([19, 14, 19, 10, 13, 18, 17, 17, 18, 19], dtype=uint8)

In [5]:
x2 = pd.Series(x, index=[i for i in range(0, 100, 10)])
print(type(x2))
x2

<class 'pandas.core.series.Series'>

0     19
10    14
20    19
30    10
40    13
50    18
60    17
70    17
80    18
90    19
dtype: uint8

**9)** [P] Create a DataFrame object called df_x that has x2 as the first variable with the name of "x2", and an additional variable named "x3" that is 10 random floating point numbers in the range [100,200). Show the types of your dataframe using print(df_x.dtypes), and show the contents of your dataframe. Your index should remain as 0, 10, 20, … , 90.

In [6]:
x3 = np.random.uniform(100, 200, size=10)
df_x = pd.DataFrame({'x2':x2, 'x3': x3})
print(df_x.dtypes)
df_x

x2      uint8
x3    float64
dtype: object

    x2          x3
0   19  186.928899
10  14  110.194674
20  19  134.310525
30  10  171.503979
40  13  181.903188
50  18  121.991517
60  17  127.422069
70  17  174.530711
80  18  162.194799
90  19  117.827922

**10)** [M] Consider the copy() method of a DataFrame object. What is this method for? Explain the difference between a shallow copy and a deep copy of a DataFrame? Why would I use a shallow copy?

This method is cor copying the DataFrame object. The if it is a shallow copy, it is just a reference that is given to us. If we change either the original or the copy, the other will change as well. The deep copy will make a completely new copy that has the same attributes as the original. If we change one of the values of the new copy, the original does not change, vice versa. When we do not need to copy everything, we can use shallow copy, because deep copy will use a lot more space.

In [7]:
days = ["Mon","Tue","Wed","Thu","Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]

**11)** [P] Convert scores_1 and scores_2 into two Series objects. Use days as your index. You should name each Series object using the name parameter as "week_1", and "week_2". Do not show the result, only store the variables.

In [8]:
week_1 = pd.Series(scores_1, index=days)
week_2 = pd.Series(scores_2, index=days)

**12)** [P] Create a pandas DataFrame called scores that represents the above data. Show your data frame.

In [9]:
scores = pd.DataFrame({'week_1': week_1, 'week_2': week_2}).T
scores

        Mon   Tue   Wed    Thu   Fri
week_1  9.5  8.75   8.0  10.00  7.75
week_2  9.0  8.00  10.0   8.75  7.25

**13)** [P] Use the pd.concat function to add the following data to the end of scores.
[8.5,8,9.75,9,8.25]. The row label on the new week is "week_3". Show your updated data frame.

In [10]:
week_3 = pd.Series([8.5,8,9.75,9,8.25], index=days)
week_3 = pd.DataFrame({'week_3': week_3}).T
scores = pd.concat([scores, week_3])
scores

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  8.25

**14)** [M] numpy and pandas have an ENORMOUS number of ways for selecting data. At first, the flexibility will confuse and drive you nuts. In time, it becomes amazing and intuitive (with less nuts.)
Write yourself a quick one sentence reference for each access method listed above, with one example for each using the scores DataFrame.

From pandas.pydata.org:
.at: Access a single value for a row/column label pair
.iat: Access a single value for a row/colun pair by integer position
.loc: Access a group of rows and columns by label(s) or a boolean array
.iloc: Purely integer based indexing for selection by position (also a group of rows and columns)

**15)** [P] Show at least two different techniques to select scores for Tuesday using the string "Tue" as a Series

In [11]:
print(scores["Tue"])
print(scores.loc[:, "Tue"])

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64
week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

**16)** [P] Show how to retrieve the scores for Tuesday using the named attribute Tue

In [12]:
scores.Tue

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

**17)** [P] Show at least three techniques to select scores for Wednesday using an integer. The return type can be either a DataFrame or a Series.

In [13]:
print(scores.iloc[:, 2])
print(scores.iloc[0:, 2])
print(scores.iloc[:, 2:3])

week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64
week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64
          Wed
week_1   8.00
week_2  10.00
week_3   9.75

**18)** [P] Select the data for the first week using the string "week_1". Your result should return a Series representing the scores for week 1.

In [14]:
scores.loc["week_1"]

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

**19)** [P] Select the data for the first week using the string "week_1". Your result should return a DataFrame, representing the subset of the scores DataFrame for week 1 only.

In [15]:
scores.loc["week_1":"week_1"]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

**20)** [P] Select the data for the first week using a slice

In [16]:
scores[0:1]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

**21)** [P] Use .iloc to select Monday and Friday of the first and third week.

In [17]:
scores.iloc[[0, 2], [0, 4]]

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  8.25

**22)** [P] Repeat the previous exercise, but use the .loc selector. You should have the same result.

In [18]:
scores.loc[["week_1", "week_3"], ["Mon", "Fri"]]

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  8.25

**23)** [P] Report the mean score for each day

In [19]:
scores.mean(axis=0)

Mon    9.00
Tue    8.25
Wed    9.25
Thu    9.25
Fri    7.75
dtype: float64

**24)** [P] Report the mean score for each week

In [20]:
scores.mean(axis=1)

week_1    8.8
week_2    8.6
week_3    8.7
dtype: float64

**25)** [P] For each week, report how much each day's score for that week differed from the mean for the week.

In [21]:
scores.apply(lambda x: x - x.mean(), axis=1)

        Mon   Tue   Wed   Thu   Fri
week_1  0.7 -0.05 -0.80  1.20 -1.05
week_2  0.4 -0.60  1.40  0.15 -1.35
week_3 -0.2 -0.70  1.05  0.30 -0.45

**26)** [P] Report the maximum score for each week. Your result should be a Series.

In [22]:
scores.max(axis=1)

week_1    10.00
week_2    10.00
week_3     9.75
dtype: float64

**27)** [P] For each week, report which day had the largest score. (Again, you should be reporting your result as a Series. And hint, idxmax() is pretty cool.)

In [23]:
scores.idxmax(axis=1)

week_1    Thu
week_2    Wed
week_3    Wed
dtype: object

**28)** [P] Report the week that had the highest total quiz score. Your answer should only be the name of the week from the index.

In [24]:
scores.sum(axis=1).idxmax()

'week_1'

**29)** [P] How many days over the entire dataset had a score >= 9.25?

In [25]:
(scores >= 9.25).sum().sum()

4

**30)** [P] Report the number of days of each week that had a score >= 9.25.

In [26]:
(scores >= 9.25).sum(axis=1)

week_1    2
week_2    1
week_3    1
dtype: int64

**31)** [P] Report the average score for each week with the lowest score for each week dropped. (REMEMBER – NEVER hard code magic numbers. Your solution should work for any number of weeks, and any number of days per week!)

In [27]:
# ChatGPT:
scores.apply(lambda x: x.drop(x.idxmin()).mean(), axis=1)

week_1    9.0625
week_2    8.9375
week_3    8.8750
dtype: float64

**32)** [P] Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.

In [28]:
scores = scores * 10
scores

         Mon   Tue    Wed    Thu   Fri
week_1  95.0  87.5   80.0  100.0  77.5
week_2  90.0  80.0  100.0   87.5  72.5
week_3  85.0  80.0   97.5   90.0  82.5

**33)** [P] How would you convert your scores DataFrame to a Numpy array? Demonstrate it by showing the type of your conversion using Python's type function.

In [29]:
print(type(scores))
scores = scores.to_numpy()
print(type(scores))
scores

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

array([[ 95. ,  87.5,  80. , 100. ,  77.5],
       [ 90. ,  80. , 100. ,  87.5,  72.5],
       [ 85. ,  80. ,  97.5,  90. ,  82.5]])